/* (c) All Rights Reserved, Dashies Software Inc. ~ a little resource file <3 */

80 ICON "Me Puup.ico" 
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0

  FILESUBTYPE 0x0L {
     BLOCK "StringFileInfo" {
	   BLOCK "040904E4" {
	     VALUE "Comments", "(c) All Rights Reserved, Dashies Software Inc."
	     VALUE "CompanyName", "DASHWARE"
	     VALUE "LegalCopyright", "(c) All Rights Reserved, Dashies Software Inc."
	     
		 VALUE "FileDescription", "registration tool thingy"
	     VALUE "FileVersion", "1.0.0.0"
	     VALUE "OriginalFilename", "reg dns.cpp"
	     VALUE "ProductName", "DNS Registrator"
	     VALUE "ProductVersion", "1.0.0.0"
	     VALUE "InternalName", "DNS Ragistrawtor.executable"
	   }
	 }
	 
	 BLOCK "VarFileInfo" {
	    VALUE "Translation", 0x409, 1252
	 }
  }
