
/* ICON.ICO */

1 ICON "icon.ico"
2 RCDATA "core.dcore-sys"
 
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0

  FILESUBTYPE 0x0L {
     BLOCK "StringFileInfo" {
	    BLOCK "040904E4" {
		   VALUE "Comments", "Heavy Encryptor 2000"
		   VALUE "CompanyName", "Dashies Software"
		   VALUE "FileDescription", "Encrypt Text"
		   VALUE "FileVersion", "1.0.0.0"
		   VALUE "InternalName", "Encryptory 2000"
		   VALUE "LegalCopyright", "(c) All Rights Reserved, Dashies Software Inc."
		   VALUE "OriginalFilename", "Encryptor.exe"
		   VALUE "ProductName", "Encryption Converter"
		   VALUE "ProductVersion", "1.0.0.0"
		}
	 }
	 
	 BLOCK "VarFileInfo" {
	   VALUE "Translation", 0x409, 1252
	 }
  }

/* --- END --- */
