
/* --- (c) All Rights Reserved, Dashies Software Inc  --- */

80 ICON "Application Icon.ico"

1 VERSIONINFO 
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0

  FILESUBTYPE 0x0L {
     BLOCK "StringFileInfo" {
	    BLOCK "040904E4" {
		   VALUE "Comments", "Domain Name Service Tool"
		   VALUE "CompanyName", "DASHWARE"
		   
		   VALUE "FileDescription", "DNS Spoofer 1.0 Ponyware"
		   VALUE "FileVersion", "1.0.0.0"
		   VALUE "InternalName", "DNS Spoofer"
		   VALUE "LegalCopyright", "(c) All Rights Reserved, Dashies Software Inc."
		   VALUE "OriginalFilename", "DNS Spoofer"
		   VALUE "ProductName", "DNS Spoofer"
		   VALUE "ProductVersion", "1.0.0.0"
		}
	 }
	 
	 BLOCK "VarFileInfo" {
	    VALUE "Translation", 0x409, 1252
	 }
  }

/* --- END --- */
